<a href="https://colab.research.google.com/github/yardsale8/DSCI_210_R_notebooks/blob/main/activity_6_4_more_practice_with_R_and_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 6.4 - More Practice with `R` and `dplyr`

In [2]:
library(tidyverse)

## Problem 1 - Football Sleep Data

**Instructions:** Open this notebook in Colab and complete the following questions.  **You should probably save a copy to Google Drive, but you will need to log in to a Gmail account.**

The  **Football_Sleep_Data.csv** file comes from a graduate student working on his master's degree in athletic training.  The students were all members of the university football team.  The data contain GPA and measures of athletic performance (how much students could lift in the clean, back squat, and bench press) at the beginning and again at the end of a semester.  Over the course of the semester, students were regularly asked via text message how much sleep they had received the previous night; their responses to this question were averaged.  At the end of the semester, the GPA and press measurements were taken again.   Of interest is analyzing how the weight lifted with clean press changed over time, and whether the change differed comparing students who averaged 7+ hours of sleep to those who averaged <7 hours of sleep.  The file looks like this:

In [3]:
fb <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Football_Sleep_data.csv')
head(fb)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post
1 425       NA       315        NA
2 385      430       255       275
3 290      425       290       290
4 450       NA       275        NA
5 415      390       270       235
6 405      415       305       325

#### Tasks

Complete the following with `dplyr`.

Hint: the `ifelse()` function will be helpful below.

1. Create variable `clean_diff` which takes `Clean.post-Clean.pre`.  
2. Create variable `seven_plus` which equals "yes" if the student averaged 7 or more hours of sleep, and "no" if not.  
3. Create variable `age` which equals "young" if `Class` = 1 or 2 and "old" if `Class` is 3 or more.  
4.  Filter the data to include only students with nonmissing `clean_diff` and `seven_plus`.   
5.  Find the number of students, and the average `clean_diff`, for each `seven_plus`/`age` combination.  
6. Convert the averaged difference (which is in pounds) to kg.

**Note.** Your solution should consist of one long pipe.

In [ ]:
# Your code here

## Problem 2 - Cleaning the comic data in `R`

In today's second activity, we will return to the comics data, this time cleaning it up in `R`

#### Task 0 - Lead the `Comic_Data_Messy.csv` file, which is located in the `data` folder in the GitHub repository.

In [ ]:
# Your code here

#### Task 1 - Clean up the `comic` column
**Tasks:**

1. Use `unique` to explore the `comic` column and identify problems.
2. Use `recode` to clean up the `comic` column

In [ ]:
# Your code here

#### Task 2 - Extract the year

**Step 1.** Use `ifelse`, `str_detect`, and `str_split_i` to extract the year from the `FIRST.APPEARANCE` column into a column called `year.raw` .  The basic pattern will have the basic form shown below.

```
mutate(year.raw = ifelse(CONTAINS a comma, SPLIT on comma and GET 1, SPLIT on hyphen and GET 2)
```

**Step 2.** Suppose that we want to keep the last two digits of the year column.  Perform a transformations using `ifelse` to extract these last two digits into a column called `year`.

**Step 3.** Drop the `year.raw` column.

In [ ]:
# Your code here

#### Task 3 - Extract and recode the month

Next, we will extract the month of the `FIRST.APPEARANCE`.
**Task 1.** Use a similar pattern as used in the last problem to extract the month.

**Task 2.** Use recode the recode the months to the three digit abbreviation.

In [ ]:
# Your code here

#### Task 4 - Explore the case study code.

I have provided the code for extracting information from the `urlslug` below.

**Questions.**

1. What is the purpose of the first (now commented out) `select`?
2. Use comments to step through the creation of the `urlslug2` column and explain the purpose of each step.
3. Discuss how the 2-3 pieces of information were split into three columns.

## Case Study - Cleaning and extracting the information from `urlslug`

In a previous activity, I shared the code for cleaning up the `urlslug` column.  I will apply the extact same process, but this time using `R`.

<font color="orange">
Your answers here
</font>

In [ ]:
(comics
#  %>% select(urlslug) # Temp select
 %>% mutate(has_group = ifelse(str_detect(urlslug, '\\)_\\('), 1, 0), # parentheses are special and need \\ in front
            urlslug2 = urlslug
                        %>% str_replace("\\\\/wiki", '') # both \ and / are also special and need to be escaped
                        %>% str_replace("\\\\/", "")
                        %>% str_replace("\\)_\\(", "|")
                        %>% str_replace("_\\(", "|")
                        %>% str_replace('\\)', '')
                        %>% str_replace('_', ' '),
           name = str_split_i(urlslug2, '\\|', 1),
           group_or_alias = ifelse(has_group, str_split_i(urlslug2, '\\|', 2), NA),
           universe = str_split_i(urlslug2, '\\|', -1),
           )
 %>% select(-urlslug, -urlslug2)
 %>% head(10)
)

   page_id ID              ALIGN              SEX
1  666101  Public Identity                    Male Characters
2  280850  Public Identity                    Male Characters
3  129267  Public Identity Good Characters    Male Characters
4  157368  Public Identity Good Characters    Male Characters
5   16171  Secret Identity Bad Characters     Male Characters
6  240298  Secret Identity Bad Characters     Female Characters
7  186659                  Bad Characters     Male Characters
8  288877  Public Identity Bad Characters     Male Characters
9  402328                  Bad Characters     Male Characters
10  22342  Public Identity Neutral Characters Male Characters
   ALIVE               APPEARANCES FIRST.APPEARANCE comic
1  Living Characters    4          Apr-97           marvel
2  Deceased Characters NA          Oct-01           marvl
3  Living Characters   15          1987, September  DC comics
4  Deceased Characters 15          1992, September  DC
5  Living Characters    1          Jul-73           marvl
6  Living Characters    4          2002, April      DC
7  Living Characters   NA          1999, May        DC
8  Living Characters    1          Oct-86           Marvel Comics
9  Living Characters   14          Jul-06           marvelcomics
10 Deceased Characters  7          Aug-89           marvelcomics
   PHYSICAL               has_group name             group_or_alias universe
1  Blue Eyes , Brown Hair 0         Jonathan Dillon  NA             Earth-616
2  Blue Eyes , Blond Hair 1         John             Mutant         Earth-616
3   , Black Hair          0         Gene LaBostrie   NA             New_Earth
4  Black Eyes ,           0         Reemuz           NA             New Earth
5   ,                     0         Aquon            NA             Earth-616
6   , Black Hair          0         Rachel Berkowitz NA             New_Earth
7   ,                     0         Golem II         NA             New_Earth
8   ,                     0         Burka            NA             Earth-616
9  Blue Eyes , Blond Hair 0         Max Lohmer       NA             Earth-616
10  , Grey Hair           0         Paul Harker      NA             Earth-616