<a href="https://colab.research.google.com/github/yardsale8/DSCI_210_R_notebooks/blob/main/activity_8_4_more_reshaping_table_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More Practice Stacking and Unstacking in R

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Stack and Unstack


* `library(tidyr)`
* Stack $\rightarrow$ `gather`
* Unstack $\rightarrow$ `spread`

In [ ]:
library(dplyr)
library(tidyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## The stack + mutate + aggregate +  unstack trick

Recall that we can use stacking and unstacking columns to automate applying the same transformations to many columns

### Example - Recoding auto sales

In [3]:
sales <- read.csv("https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/auto_sales.csv")
sales

  Salesperson Compact Sedan SUV Truck
1 Ann         22      18    15  12
2 Bob         19      12    17  20
3 Yolanda     19       8    32  15
4 Xerxes      12      23    18   9

In [4]:
(sales
 %>% gather(key = "auto_type",
            value = "num_sales",
            Compact:Truck)
 %>% mutate(car_type = recode(auto_type,
                             `Compact` = 'car',
                             `Sedan` = 'car',
                             `SUV` = 'utility',
                             `Truck` = 'utility'))
 %>% group_by(Salesperson,
              car_type)
 %>% summarize(total_sales = sum(num_sales))
 %>% spread(key = car_type,
            value = total_sales)
 )

`summarise()` has grouped output by 'Salesperson'. You can override using the
`.groups` argument.

  Salesperson car utility
1 Ann         40  27
2 Bob         31  37
3 Xerxes      35  27
4 Yolanda     27  47

## <font color="red"> Exercise 8.4.1 </font>

Recall that the MoMA `Artist.csv` data had two columns (`BeginDate` and `EndDate`) that needed to be cleaned up by  replacing zeros with with a better representation of missing values, namely `NA` in R.

Since we need to perform the same transformations on both columns, we can use the stack + transform + unstack trick to clean both columns at once.

In [ ]:
artist = read.csv("https://github.com/MuseumofModernArt/collection/raw/master/Artists.csv")
head(artist)

  ConstituentID DisplayName     ArtistBio           Nationality Gender
1 1             Robert Arneson  American, 1930–1992 American    Male
2 2             Doroteo Arnaiz  Spanish, born 1936  Spanish     Male
3 3             Bill Arnold     American, born 1941 American    Male
4 4             Charles Arnoldi American, born 1946 American    Male
5 5             Per Arnoldi     Danish, born 1941   Danish      Male
6 6             Danilo Aroldi   Italian, born 1925  Italian     Male
  BeginDate EndDate Wiki.QID ULAN
1 1930      1992                    NA
2 1936         0                    NA
3 1941         0                    NA
4 1946         0    Q1063584 500027998
5 1941         0                    NA
6 1925         0                    NA

**Task:** Fix this issue by

1. Use `gather` stack the two columns.
2. Using `mutate` and `ifelse` to replace all zeros with `NA`.
3. Use `spread` to unstack the two columns, this time giving them more meaningful names.

In [ ]:
# Your code here

## <font color="red"> Exercise 8.4.2 </font>

In this assignment we will visualize the effect of the introduction of the  designated hitter, by comparing the best overall team-wide earned run average (ERA) for each league. In the process, you will see an important application of reshaping tables when creating visualizations.  

Take a look at the `Teams.csv` file.  This file contains, for each season, team-by-team statistics.  We will focus on the ERA, which measures the average number of runs allowed by each team’s pitchers over a 9-inning game, with a smaller number indicating better pitching + defense.
Your job is to recreate the following graph.  

<img src="https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/img/min_era.png"/>

In [ ]:
teams <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Teams.csv')
head(teams)

  yearID lgID teamID franchID divID Rank G  Ghome W  L  ⋯ DP FP
1 1871   NA   BS1    BNA            3    31 NA    20 10 ⋯ 24 0.834
2 1871   NA   CH1    CNA            2    28 NA    19  9 ⋯ 16 0.829
3 1871   NA   CL1    CFC            8    29 NA    10 19 ⋯ 15 0.818
4 1871   NA   FW1    KEK            7    19 NA     7 12 ⋯  8 0.803
5 1871   NA   NY2    NNA            5    33 NA    16 17 ⋯ 14 0.840
6 1871   NA   PH1    PNA            1    28 NA    21  7 ⋯ 13 0.845
  name                    park                         attendance BPF PPF
1 Boston Red Stockings    South End Grounds I          NA         103  98
2 Chicago White Stockings Union Base-Ball Grounds      NA         104 102
3 Cleveland Forest Citys  National Association Grounds NA          96 100
4 Fort Wayne Kekiongas    Hamilton Field               NA         101 107
5 New York Mutuals        Union Grounds (Brooklyn)     NA          90  88
6 Philadelphia Athletics  Jefferson Street Grounds     NA         102  98
  teamIDBR teamIDlahman45 teamIDretro
1 BOS      BS1            BS1
2 CHI      CH1            CH1
3 CLE      CL1            CL1
4 KEK      FW1            FW1
5 NYU      NY2            NY2
6 ATH      PH1            PH1

**Tasks:**

1. Filter the data to only the years after World War II (1946+).
2. Group and aggregate the data to compute the minimum ERA for each league for each season.
3. Split the min(ERA) by the leagues so that you have the two columns of min(ERA) values—one for each league—with one row per year.
4. Compute AL – NL, storing the result in a new column.
5. Stack the data for the AL, NL, and AL – NL, with the labels column called Type and the data column called min(ERA).
6. Save the resulting data frame to a variable named `min_era_by_league`
7. Use `ggplot` to recreate the plot.  Hint:  Use `geom_hline` and `geom_vline` to add the reference lines and `annotate` to add the annotation.

In [ ]:
# Your code here