<a href="https://colab.research.google.com/github/yardsale8/DSCI_210_R_notebooks/blob/main/lecture_6_4_more_practice_with_R_and_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common mutations

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

## Outline

* Numeric transformations
* String transformations

## Arithmetic Transformations on Numeric Columns

### Example - Creating a decade column

In [ ]:
# Playing around
# Step 1 - Save the column
year <- surveys$year
year %>% head

[1] 1977 1977 1977 1977 1977 1977

In [ ]:
# Playing around
# Step 2 - Try it out
new <- floor(year/10)*10
head(new)

[1] 1970 1970 1970 1970 1970 1970

In [ ]:
# Step 3 - Embed in a mutate
(surveys
 %>% mutate(decade = floor(year/10)*10)
 %>% head
 )

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type decade
1 Neotoma albigula Rodent Control   1970
2 Neotoma albigula Rodent Control   1970
3 Neotoma albigula Rodent Control   1970
4 Neotoma albigula Rodent Control   1970
5 Neotoma albigula Rodent Control   1970
6 Neotoma albigula Rodent Control   1970

### Making a indicator column with `ifelse`

In [ ]:
# Playing around
sex <- surveys$sex
new <- ifelse(sex == 'M', 1, 0)
head(new)

[1] 1 1 0 0 0 0

In [ ]:
(surveys
%>% mutate(is_male = ifelse(sex == 'M', 1, 0))
%>% head
)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type is_male
1 Neotoma albigula Rodent Control   1
2 Neotoma albigula Rodent Control   1
3 Neotoma albigula Rodent Control   0
4 Neotoma albigula Rodent Control   0
5 Neotoma albigula Rodent Control   0
6 Neotoma albigula Rodent Control   0

## <font color="red"> Exercise 6.2.1 - Convert to kg. </font>

The variables `Bench.pre` and `Bench.post` represent the pre- and post-measurement for maximum bench press in lbs.

* **Task 1:** Create two new columns that contain the bench press weights (pre- and post-) converted to kilograms.
* **Task 2:** Create an indicator column called `is_class_1` that is `1` for all rows with `Class == 1` and `0` otherwise.

In [ ]:
football_sleep <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Football_Sleep_data.csv')
head(football_sleep)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post
1 425       NA       315        NA
2 385      430       255       275
3 290      425       290       290
4 450       NA       275        NA
5 415      390       270       235
6 405      415       305       325

In [ ]:
# Your code here

## String Transformations

1. Substring extraction
2. Replace
3. Recode

### Pattern 1 - Substring extraction with `substr`

**Syntax:** `substr(col, start, stop)`

In [ ]:
# Play around
plot_type <- surveys$plot_type
plot_type %>% unique

[1] "Control"                   "Long-term Krat Exclosure"
[3] "Short-term Krat Exclosure" "Rodent Exclosure"
[5] "Spectab exclosure"

**Note:** R indexing starts at 1 not 0

In [ ]:
# Functional code
new <- substr(plot_type, 1, 5)
new %>% head

[1] "Contr" "Contr" "Contr" "Contr" "Contr" "Contr"

In [ ]:
# Piped code
new <- plot_type %>% substr(1, 5)
new %>% head

[1] "Contr" "Contr" "Contr" "Contr" "Contr" "Contr"

In [ ]:
new %>% unique %>% head

[1] "Contr" "Long-" "Short" "Roden" "Spect"

In [ ]:
(surveys
 %>% mutate(plot_type = substr(plot_type, 1, 5))
 %>% head
 )

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Contr
2 Neotoma albigula Rodent Contr
3 Neotoma albigula Rodent Contr
4 Neotoma albigula Rodent Contr
5 Neotoma albigula Rodent Contr
6 Neotoma albigula Rodent Contr

## <font color="red"> Exercise 6.2.2 - Creating a decade column using string functions.</font>

In a previous example, we used division and `floor` to create a `decade` column.  Another approach to this problem is to convert the years to strings and use `substr` to extract the decade.

**Tasks:** The basic process for converting to decade is

1. Use `as.charactar` to convert `year` to a string.
2. Use `substr` to extract the first three digits.
3. Use `paste(column, '0', sep = '')` to add on a zero.
4. Use `as.numeric` to convert back to a numeric column

Be sure to *play around* with the columns first, THEN mutate.

In [ ]:
surveys %>% head

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

#### First, understand the `paste` string function

In [ ]:
# functional code
species_id <- surveys$species_id
example_paste <- paste(species_id, "a", sep = '')
example_paste %>% unique

 [1] "NLa" "DMa" "PFa" "PEa" "DSa" "PPa" "SHa" "OTa" "DOa" "OXa" "SSa" "OLa"
[13] "RMa" "SAa" "PMa" "AHa" "DXa" "ABa" "CMa" "CQa" "RFa" "URa" "UPa" "ULa"
[25] "BAa" "ROa" "SOa" "PBa" "CBa" "PCa" "PHa" "SFa" "PIa" "PLa" "PXa" "CVa"
[37] "USa" "PGa" "ASa" "ZLa" "CSa" "SUa" "PUa" "STa" "RXa" "CTa" "SCa" "CUa"

In [ ]:
# pipes code
species_id <- surveys$species_id
example_paste <- species_id %>% paste("a", sep = '')
example_paste %>% unique

 [1] "NLa" "DMa" "PFa" "PEa" "DSa" "PPa" "SHa" "OTa" "DOa" "OXa" "SSa" "OLa"
[13] "RMa" "SAa" "PMa" "AHa" "DXa" "ABa" "CMa" "CQa" "RFa" "URa" "UPa" "ULa"
[25] "BAa" "ROa" "SOa" "PBa" "CBa" "PCa" "PHa" "SFa" "PIa" "PLa" "PXa" "CVa"
[37] "USa" "PGa" "ASa" "ZLa" "CSa" "SUa" "PUa" "STa" "RXa" "CTa" "SCa" "CUa"

#### Now solve the actual problem using `substr` + `paste`

In [ ]:
# Your play-around code here

In [ ]:
# Your mutate pipe here

## Pattern 2 - `str_replace` from the `stringr` library

**Syntax:** `str_replace(column, pattern, replace)`

#### Use `str_replace` to replace the first instance.

In [ ]:
# Get help on str_replace
?str_replace

In [ ]:
# Functional code
str_replace(s, '-', '/')

[1] "a/b-c"

In [ ]:
s <- "a-b-c"
# Piped code
s %>% str_replace('-', '/')

[1] "a/b-c"

#### Use `str_replace_all` to replace all instances.

In [ ]:
# functional code
str_replace_all(s, '-', '/')

[1] "a/b/c"

In [ ]:
# piped code
s %>% str_replace_all('-', '/')

[1] "a/b/c"

### Example - Cleaning up the percents

In [ ]:
pct7 <- football_sleep$Pct7
head(pct7)

[1] ""    "95%" "90%" "25%" "44%" "88%"

#### (A) Try out `str_replace`

In [ ]:
new <- pct7 %>% str_replace('%', '')
head(new)

[1] ""   "95" "90" "25" "44" "88"

#### (B) Switch to numeric with `as.numeric`

In [ ]:
new <- pct7 %>% str_replace('%', '') %>% as.numeric
head(new)

[1] NA 95 90 25 44 88

#### (C) Embed in a `mutate`

In [ ]:
(football_sleep
 %>% mutate(percent = pct7 %>% str_replace('%', '')  %>% as.numeric)
 %>% head
)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post percent
1 425       NA       315        NA        NA
2 385      430       255       275        95
3 290      425       290       290        90
4 450       NA       275        NA        25
5 415      390       270       235        44
6 405      415       305       325        88

(D) Make the code easier to read.

In [ ]:
(football_sleep
 %>% mutate(percent = pct7
                      %>% str_replace('%', '')
                      %>% as.numeric,
           )
 %>% head
)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post percent
1 425       NA       315        NA        NA
2 385      430       255       275        95
3 290      425       290       290        90
4 450       NA       275        NA        25
5 415      390       270       235        44
6 405      415       305       325        88

#### (D) Also compute the fraction

In [ ]:
(football_sleep
 %>% mutate(percent = pct7
                      %>% str_replace('%', '')
                      %>% as.numeric,
            fraction = percent/100,
           )
 %>% head
)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post percent fraction
1 425       NA       315        NA        NA        NA
2 385      430       255       275        95      0.95
3 290      425       290       290        90      0.90
4 450       NA       275        NA        25      0.25
5 415      390       270       235        44      0.44
6 405      415       305       325        88      0.88

### Making piped code readable

<img src="https://github.com/yardsale8/DSCI_210_R_notebooks/blob/99bd4f4d10de6abdee409a5ad62d83abf1cde832/img/more_readable_code%20copy.png?raw=true" width="700">

## <font color="red"> Exercise 6.2.3 - Replacing `-` with `_`</font>

Use `str_replace` to replace all hyphens in the `plot_type` column with underscores.

In [ ]:
plot_type <- surveys$plot_type
plot_type %>% unique

[1] "Control"                   "Long-term Krat Exclosure"
[3] "Short-term Krat Exclosure" "Rodent Exclosure"
[5] "Spectab exclosure"

In [ ]:
# Your code here

### Pattern 3 - Recoding a character column


**Syntax**

```{r}
recode(column,
      `old value 1` = "new string 1",
      `old value 2` = "new string 2",
      ...)
```

In [ ]:
(surveys
%>% mutate(month_name = recode(month,
                               `1` = "Jan",
                               `2` = "Feb",
                               `3` = "Mar"),
          )
 %>% head(10)
)

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `month_name = recode(month, `1` = "Jan", `2` = "Feb", `3` =
  "Mar")`.
Caused by warning:
! Unreplaced values treated as NA as `.x` is not compatible.
Please specify replacements exhaustively or supply `.default`.”

   record_id month day year plot_id species_id sex hindfoot_length weight
1    1        7    16  1977 2       NL         M   32               NA
2   72        8    19  1977 2       NL         M   31               NA
3  224        9    13  1977 2       NL             NA               NA
4  266       10    16  1977 2       NL             NA               NA
5  349       11    12  1977 2       NL             NA               NA
6  363       11    12  1977 2       NL             NA               NA
7  435       12    10  1977 2       NL             NA               NA
8  506        1     8  1978 2       NL             NA               NA
9  588        2    18  1978 2       NL         M   NA              218
10 661        3    11  1978 2       NL             NA               NA
   genus   species  taxa   plot_type month_name
1  Neotoma albigula Rodent Control   NA
2  Neotoma albigula Rodent Control   NA
3  Neotoma albigula Rodent Control   NA
4  Neotoma albigula Rodent Control   NA
5  Neotoma albigula Rodent Control   NA
6  Neotoma albigula Rodent Control   NA
7  Neotoma albigula Rodent Control   NA
8  Neotoma albigula Rodent Control   Jan
9  Neotoma albigula Rodent Control   Feb
10 Neotoma albigula Rodent Control   Mar

#### Adding a `.default` option

In [ ]:
(surveys
%>% mutate(month_name = recode(month,
                               `1` = "Jan",
                               `2` = "Feb",
                               `3` = "Mar",
                               .default = "Other"),
         )
 %>% head(10)
)

   record_id month day year plot_id species_id sex hindfoot_length weight
1    1        7    16  1977 2       NL         M   32               NA
2   72        8    19  1977 2       NL         M   31               NA
3  224        9    13  1977 2       NL             NA               NA
4  266       10    16  1977 2       NL             NA               NA
5  349       11    12  1977 2       NL             NA               NA
6  363       11    12  1977 2       NL             NA               NA
7  435       12    10  1977 2       NL             NA               NA
8  506        1     8  1978 2       NL             NA               NA
9  588        2    18  1978 2       NL         M   NA              218
10 661        3    11  1978 2       NL             NA               NA
   genus   species  taxa   plot_type month_name
1  Neotoma albigula Rodent Control   Other
2  Neotoma albigula Rodent Control   Other
3  Neotoma albigula Rodent Control   Other
4  Neotoma albigula Rodent Control   Other
5  Neotoma albigula Rodent Control   Other
6  Neotoma albigula Rodent Control   Other
7  Neotoma albigula Rodent Control   Other
8  Neotoma albigula Rodent Control   Jan
9  Neotoma albigula Rodent Control   Feb
10 Neotoma albigula Rodent Control   Mar

## Pattern 3 - Using `str_detect` to determine if a string CONTAINS a value.

To apply the string verb CONTAINS, we use the `str_detect` function from the `stringr` library (in `tidyverse`).

In [ ]:
sex <- surveys$sex
sex %>% unique

[1] "M" ""  "F"

### Use Case 1 - Using `str_detect` in a `filter`

In [ ]:
(surveys
 %>% filter(str_detect(sex, 'M'))
 %>% head
)

  record_id month day year plot_id species_id sex hindfoot_length weight
1    1      7     16  1977 2       NL         M   32               NA
2   72      8     19  1977 2       NL         M   31               NA
3  588      2     18  1978 2       NL         M   NA              218
4  845      5      6  1978 2       NL         M   32              204
5  990      6      9  1978 2       NL         M   NA              200
6 1164      8      5  1978 2       NL         M   34              199
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

### Use Case 2 - Use with `ifelse` to create an indicator column

In [ ]:
(surveys
 %>% mutate(male = ifelse(str_detect(sex, 'M'), 1, 0))
 %>% head
)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type male
1 Neotoma albigula Rodent Control   1
2 Neotoma albigula Rodent Control   1
3 Neotoma albigula Rodent Control   0
4 Neotoma albigula Rodent Control   0
5 Neotoma albigula Rodent Control   0
6 Neotoma albigula Rodent Control   0

## Pattern 4 - Split & Get

We can use the `str_split_i(string, pattern, i)` function to split `string` on `pattern`, then getting element `i`

In [ ]:
( surveys
 %>% select(genus)
 %>% filter(genus == 'Neotoma')
  %>% mutate(part1 = str_split_i(genus, 't', 1),
             part2 = str_split_i(genus, 't', 2),
            )
  %>% head
)

  genus   part1 part2
1 Neotoma Neo   oma
2 Neotoma Neo   oma
3 Neotoma Neo   oma
4 Neotoma Neo   oma
5 Neotoma Neo   oma
6 Neotoma Neo   oma

# Activity 6.3 - Cleaning the comic data in `R`

In today's activity, we will return to the comics data, this time cleaning it up in `R`

#### Problem 0 - Lead the `Comic_Data_Messy.csv` file, which is located in the `data` folder in D2L.

In [ ]:
# Your code here

#### Problem 1 - Clean up the `comic` column
**Tasks:**

1. Use `unique` to explore the `comic` column and identify problems.
2. Use `recode` to clean up the `comic` column

In [ ]:
# Your code here

### Problem 1 - Lead a fresh copy of the file.

In [ ]:
# Your code here.

## Problem 2 - Extract the year

**Task 1.** Use `ifelse`, `str_detect`, and `str_split_i` to extract the year from the `FIRST.APPEARANCE` column into a column called `year.raw` .  The basic pattern will have the basic form shown below.

```
mutate(year.raw = ifelse(CONTAINS a comma, SPLIT on comma and GET 1, SPLIT on hyphen and GET 2)
```

**Task 2.** Suppose that we want to keep the last two digits of the year column.  Perform a transformations using `ifelse` to extract these last two digits into a column called `year`.

**Task 3.** Drop the `year.raw` column.

In [ ]:
# Your code here

## Problem 3 - Extract and recode the month

Next, we will extract the month of the `FIRST.APPEARANCE`.
**Task 1.** Use a similar pattern as used in the last problem to extract the month.

**Task 2.** Use recode the recode the months to the three digit abbreviation.

In [ ]:
# Your code here

## Case Study - Cleaning and extracting the information from `urlslug`

In a previous activity, I shared the code for cleaning up the `urlslug` column.  I will apply the extact same process, but this time using `R`.

In [ ]:
(comics
#  %>% select(urlslug) # Temp select
 %>% mutate(has_group = ifelse(str_detect(urlslug, '\\)_\\('), 1, 0), # parentheses are special and need \\ in front
            urlslug2 = urlslug
                        %>% str_replace("\\\\/wiki", '') # both \ and / are also special and need to be escaped
                        %>% str_replace("\\\\/", "")
                        %>% str_replace("\\)_\\(", "|")
                        %>% str_replace("_\\(", "|")
                        %>% str_replace('\\)', '')
                        %>% str_replace('_', ' '),
           name = str_split_i(urlslug2, '\\|', 1),
           group_or_alias = ifelse(has_group, str_split_i(urlslug2, '\\|', 2), NA),
           universe = str_split_i(urlslug2, '\\|', -1),
           )
 %>% select(-urlslug, -urlslug2)
 %>% head(10)
)

   page_id ID              ALIGN              SEX
1  666101  Public Identity                    Male Characters
2  280850  Public Identity                    Male Characters
3  129267  Public Identity Good Characters    Male Characters
4  157368  Public Identity Good Characters    Male Characters
5   16171  Secret Identity Bad Characters     Male Characters
6  240298  Secret Identity Bad Characters     Female Characters
7  186659                  Bad Characters     Male Characters
8  288877  Public Identity Bad Characters     Male Characters
9  402328                  Bad Characters     Male Characters
10  22342  Public Identity Neutral Characters Male Characters
   ALIVE               APPEARANCES FIRST.APPEARANCE comic
1  Living Characters    4          Apr-97           marvel
2  Deceased Characters NA          Oct-01           marvl
3  Living Characters   15          1987, September  DC comics
4  Deceased Characters 15          1992, September  DC
5  Living Characters    1          Jul-73           marvl
6  Living Characters    4          2002, April      DC
7  Living Characters   NA          1999, May        DC
8  Living Characters    1          Oct-86           Marvel Comics
9  Living Characters   14          Jul-06           marvelcomics
10 Deceased Characters  7          Aug-89           marvelcomics
   PHYSICAL               has_group name             group_or_alias universe
1  Blue Eyes , Brown Hair 0         Jonathan Dillon  NA             Earth-616
2  Blue Eyes , Blond Hair 1         John             Mutant         Earth-616
3   , Black Hair          0         Gene LaBostrie   NA             New_Earth
4  Black Eyes ,           0         Reemuz           NA             New Earth
5   ,                     0         Aquon            NA             Earth-616
6   , Black Hair          0         Rachel Berkowitz NA             New_Earth
7   ,                     0         Golem II         NA             New_Earth
8   ,                     0         Burka            NA             Earth-616
9  Blue Eyes , Blond Hair 0         Max Lohmer       NA             Earth-616
10  , Grey Hair           0         Paul Harker      NA             Earth-616

#### Problem 4 - Explore the case study code.

**Questions.**

1. What is the purpose of the first (now commented out) `select`?
2. Use comments to step through the creation of the `urlslug2` column and explain the purpose of each step.
3. Discuss how the 2-3 pieces of information were split into three columns.

<font color="orange">
Your answers here
</font>