# Common mutations

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

# Outline

* Numeric transformations
* String transformations

# Common mutations

### Example - Creating a decade column

In [3]:
# Playing around
# Step 1 - Save the column
year <- surveys$year 
year %>% head

[1] 1977 1977 1977 1977 1977 1977

In [4]:
# Playing around
# Step 2 - Try it out
new <- floor(year/10)*10
head(new)

[1] 1970 1970 1970 1970 1970 1970

In [5]:
# Step 3 - Embed in a mutate
(surveys
 %>% mutate(decade = floor(year/10)*10)
 %>% head
 )

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type decade
1 Neotoma albigula Rodent Control   1970
2 Neotoma albigula Rodent Control   1970
3 Neotoma albigula Rodent Control   1970
4 Neotoma albigula Rodent Control   1970
5 Neotoma albigula Rodent Control   1970
6 Neotoma albigula Rodent Control   1970

### Making a indicator column with `ifelse`

In [6]:
# Playing around
sex <- surveys$sex
new <- ifelse(sex == 'M', 1, 0)
head(new)

[1] 1 1 0 0 0 0

In [7]:
(surveys
%>% mutate(is_male = ifelse(sex == 'M', 1, 0))
%>% head
)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type is_male
1 Neotoma albigula Rodent Control   1
2 Neotoma albigula Rodent Control   1
3 Neotoma albigula Rodent Control   0
4 Neotoma albigula Rodent Control   0
5 Neotoma albigula Rodent Control   0
6 Neotoma albigula Rodent Control   0

## <font color="red"> Exercise 6.2.1 - Convert to kg. </font>

The variables `Bench.pre` and `Bench.post` represent the pre- and post-measurement for maximum bench press in lbs.

* **Task 1:** Create two new columns that contain the bench press weights (pre- and post-) converted to kilograms.
* **Task 2:** Create an indicator column called `is_class_1` that is `1` for all rows with `Class == 1` and `0` otherwise.

In [8]:
football_sleep <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Football_Sleep_data.csv')
head(football_sleep)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post
1 425       NA       315        NA
2 385      430       255       275
3 290      425       290       290
4 450       NA       275        NA
5 415      390       270       235
6 405      415       305       325

In [9]:
# Your code here

# String Transformations

1. Substring extraction
2. Replace
3. Recode

## Pattern 1 - Substring extraction with `substr`

**Syntax:** `substr(col, start, stop)`

In [10]:
# Play around
plot_type <- surveys$plot_type
unique(plot_type)

[1] Control                   Long-term Krat Exclosure
[3] Short-term Krat Exclosure Rodent Exclosure
[5] Spectab exclosure
5 Levels: Control Long-term Krat Exclosure ... Spectab exclosure

**Note:** R indexing starts at 1 not 0

In [11]:
new <- substr(plot_type, 1, 5)
head(new)

[1] "Contr" "Contr" "Contr" "Contr" "Contr" "Contr"

In [12]:
(surveys
 %>% mutate(plot_type = substr(plot_type, 1, 5))
 %>% head
 )

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Contr
2 Neotoma albigula Rodent Contr
3 Neotoma albigula Rodent Contr
4 Neotoma albigula Rodent Contr
5 Neotoma albigula Rodent Contr
6 Neotoma albigula Rodent Contr

## <font color="red"> Exercise 6.2.2 - Creating a decade column using string functions.</font>

In a previous example, we used division and `floor` to create a `decade` column.  Another approach to this problem is to convert the years to strings and use `substr` to extract the decade.

**Tasks:** The basic process for converting to decade is

1. Use `as.charactar` to convert `year` to a string.
2. Use `substr` to extract the first three digits.
3. Use `paste(column, '0', sep = '')` to add on a zero.
4. Use `as.numeric` to convert back to a numeric column

Be sure to *play around* with the columns first, THEN mutate.

In [13]:
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

In [15]:
example_paste <- paste(surveys$species_id, "a", sep = '')
unique(example_paste)

 [1] "NLa" "DMa" "PFa" "PEa" "DSa" "PPa" "SHa" "OTa" "DOa" "OXa" "SSa" "OLa"
[13] "RMa" "SAa" "PMa" "AHa" "DXa" "ABa" "CMa" "CQa" "RFa" "URa" "UPa" "ULa"
[25] "BAa" "ROa" "SOa" "PBa" "CBa" "PCa" "PHa" "SFa" "PIa" "PLa" "PXa" "CVa"
[37] "USa" "PGa" "ASa" "ZLa" "CSa" "SUa" "PUa" "STa" "RXa" "CTa" "SCa" "CUa"

In [16]:
# Your play-around code here

In [17]:
# Your mutate pipe here

## Pattern 2 - `str_replace` from the `stringr` library

**Syntax:** `str_replace(column, pattern, replace)`

In [18]:
library(stringr)

### Example - Cleaning up the percents

In [19]:
pct7 <- football_sleep$Pct7
head(pct7)

[1]     95% 90% 25% 44% 88%
35 Levels:  0% 10% 100% 15% 18% 20% 25% 36% 37% 44% 45% 50% 55% 58% 60% ... 98%

#### (A) Try out `str_replace`

In [20]:
new <- str_replace(pct7, '%', '')
head(new)

[1] ""   "95" "90" "25" "44" "88"

#### (B) Switch to numeric with `as.numeric`

In [21]:
new <- str_replace(pct7, '%', '') %>% as.numeric
head(new)

[1] NA 95 90 25 44 88

#### (C) Embed in a `mutate`

In [22]:
(football_sleep
 %>% mutate(percent = str_replace(pct7, '%', '') 
                     %>% as.numeric)
 %>% head
)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post percent
1 425       NA       315        NA        NA
2 385      430       255       275        95
3 290      425       290       290        90
4 450       NA       275        NA        25
5 415      390       270       235        44
6 405      415       305       325        88

#### (D) Also compute the fraction

In [23]:
(football_sleep
 %>% mutate(percent = str_replace(pct7, '%', '') 
                     %>% as.numeric,
           fraction = percent/100)
 %>% head
)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post percent fraction
1 425       NA       315        NA        NA        NA
2 385      430       255       275        95      0.95
3 290      425       290       290        90      0.90
4 450       NA       275        NA        25      0.25
5 415      390       270       235        44      0.44
6 405      415       305       325        88      0.88

## <font color="red"> Exercise 6.2.3 - Replacing `-` with `_`</font>

Use `str_replace` to replace all hyphens in the `plot_type` column with underscores.

In [24]:
unique(surveys$plot_type)

[1] Control                   Long-term Krat Exclosure
[3] Short-term Krat Exclosure Rodent Exclosure
[5] Spectab exclosure
5 Levels: Control Long-term Krat Exclosure ... Spectab exclosure

In [25]:
# Your code here

### Pattern 3 - Recoding a character column


**Syntax**

```{r}
recode(column, 
      `old value 1` = "new string 1",
      `old value 2` = "new string 2",
      ...)
```

In [26]:
(surveys
%>% mutate(month_name = recode(month,
                               `1` = "Jan",
                               `2` = "Feb",
                               `3` = "Mar"))
 %>% head(10)
)

Warning message:
“Problem with `mutate()` input `month_name`.
ℹ Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default
ℹ Input `month_name` is `recode(month, `1` = "Jan", `2` = "Feb", `3` = "Mar")`.”Warning message:
“Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default”

   record_id month day year plot_id species_id sex hindfoot_length weight
1    1        7    16  1977 2       NL         M   32               NA
2   72        8    19  1977 2       NL         M   31               NA
3  224        9    13  1977 2       NL             NA               NA
4  266       10    16  1977 2       NL             NA               NA
5  349       11    12  1977 2       NL             NA               NA
6  363       11    12  1977 2       NL             NA               NA
7  435       12    10  1977 2       NL             NA               NA
8  506        1     8  1978 2       NL             NA               NA
9  588        2    18  1978 2       NL         M   NA              218
10 661        3    11  1978 2       NL             NA               NA
   genus   species  taxa   plot_type month_name
1  Neotoma albigula Rodent Control   NA
2  Neotoma albigula Rodent Control   NA
3  Neotoma albigula Rodent Control   NA
4  Neotoma albigula Rodent Control   NA
5  Neotoma albigula Rodent Control   NA
6  Neotoma albigula Rodent Control   NA
7  Neotoma albigula Rodent Control   NA
8  Neotoma albigula Rodent Control   Jan
9  Neotoma albigula Rodent Control   Feb
10 Neotoma albigula Rodent Control   Mar

## <font color="red"> Exercise 6.2.4 - Cleaning up comics </font>

**Tasks:** 

1. Use `unique` to explore the `comic` column and identify problems.
2. Use `recode` to clean up the `comic` column

In [27]:
comics <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Comic_Data_Messy.csv')
comics %>% head

  page_id urlslug                                ID
1 666101  \\/Jonathan_Dillon_(Earth-616)         Public Identity
2 280850  \\/John_(Mutant)_(Earth-616)           Public Identity
3 129267  \\/wiki\\/Gene_LaBostrie_(New_Earth)   Public Identity
4 157368  \\/wiki\\/Reemuz_(New_Earth)           Public Identity
5  16171  \\/Aquon_(Earth-616)                   Secret Identity
6 240298  \\/wiki\\/Rachel_Berkowitz_(New_Earth) Secret Identity
  ALIGN           SEX               ALIVE               APPEARANCES
1                 Male Characters   Living Characters    4
2                 Male Characters   Deceased Characters NA
3 Good Characters Male Characters   Living Characters   15
4 Good Characters Male Characters   Deceased Characters 15
5 Bad Characters  Male Characters   Living Characters    1
6 Bad Characters  Female Characters Living Characters    4
  FIRST.APPEARANCE comic     PHYSICAL
1 Apr-97           marvel    Blue Eyes , Brown Hair
2 Oct-01           marvl     Blue Eyes , Blond Hair
3 1987, September  DC comics  , Black Hair
4 1992, September  DC        Black Eyes ,
5 Jul-73           marvl      ,
6 2002, April      DC         , Black Hair

In [130]:
# Your code here