<a href="https://colab.research.google.com/github/yardsale8/DSCI_210_R_notebooks/blob/main/module_7_and_8_homework_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 7 & 8 Homework - Part 2

In [ ]:
library(tidyverse)

## Problem 1 - Football Sleep Data

**Instructions:** Open this notebook in Colab and complete the following questions.  **You should probably save a copy to Google Drive, but you will need to log in to a Gmail account.**

The  **Football_Sleep_Data.csv** file comes from a graduate student working on his master's degree in athletic training.  The students were all members of the university football team.  The data contain GPA and measures of athletic performance (how much students could lift in the clean, back squat, and bench press) at the beginning and again at the end of a semester.  Over the course of the semester, students were regularly asked via text message how much sleep they had received the previous night; their responses to this question were averaged.  At the end of the semester, the GPA and press measurements were taken again.   Of interest is analyzing how the weight lifted with clean press changed over time, and whether the change differed comparing students who averaged 7+ hours of sleep to those who averaged <7 hours of sleep.  The file looks like this:

In [ ]:
fb <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/Football_Sleep_data.csv')
head(fb)

  student Class Pct7 Avg.sleep.per.night GPA.pre GPA.post Clean.pre Clean.post
1 1       NA          NA                 3.21    3.60     270        NA
2 2        1    95%  7.6                 3.10    3.30     265       290
3 3        2    90%  7.5                 2.94    3.46     264       264
4 4        2    25%  6.0                 2.57    2.20     290        NA
5 5        1    44%  6.0                 3.50    3.50     280       265
6 6        2    88%  7.0                 2.64    1.53     253       253
  Back.pre Back.post Bench.pre Bench.post
1 425       NA       315        NA
2 385      430       255       275
3 290      425       290       290
4 450       NA       275        NA
5 415      390       270       235
6 405      415       305       325

#### Tasks

Complete the following with `dplyr`.

Hint: the `ifelse()` function will be helpful below.

1. Create variable `clean_diff` which takes `Clean.post-Clean.pre`.  
2. Create variable `seven_plus` which equals "yes" if the student averaged 7 or more hours of sleep, and "no" if not.  
3. Create variable `age` which equals "young" if `Class` = 1 or 2 and "old" if `Class` is 3 or more.  
4.  Filter the data to include only students with nonmissing `clean_diff` and `seven_plus`.   
5.  Find the number of students, and the average `clean_diff`, for each `seven_plus`/`age` combination.  
6. Convert the averaged difference (which is in pounds) to kg.

**Note.** Your solution should consist of one long pipe.

In [ ]:
# Your code here

## Problem 2 - Stack-Transform-Unstack on `Artist` data

Recall that the MoMA `Artist.csv` data had two columns (`BeginDate` and `EndDate`) that needed to be cleaned up by  replacing zeros with with a better representation of missing values, namely `NA` in R.

Since we need to perform the same transformations on both columns, we can use the stack + transform + unstack trick to clean both columns at once.

In [2]:
artist = read.csv("https://github.com/MuseumofModernArt/collection/raw/main/Artists.csv")
head(artist)

  ConstituentID DisplayName     ArtistBio           Nationality Gender
1 1             Robert Arneson  American, 1930–1992 American    male
2 2             Doroteo Arnaiz  Spanish, born 1936  Spanish     male
3 3             Bill Arnold     American, born 1941 American    male
4 4             Charles Arnoldi American, born 1946 American    male
5 5             Per Arnoldi     Danish, born 1941   Danish      male
6 6             Danilo Aroldi   Italian, born 1925  Italian     male
  BeginDate EndDate Wiki.QID ULAN
1 1930      1992                    NA
2 1936         0                    NA
3 1941         0                    NA
4 1946         0    Q1063584 500027998
5 1941         0                    NA
6 1925         0                    NA

**Task:** Fix this issue by

1. Use `gather` stack the two columns.
2. Using `mutate` and `ifelse` to replace all zeros with `NA`.
3. Use `spread` to unstack the two columns, this time giving them more meaningful names.

In [3]:
# Your code here

## Problem 4 - Visualizing `min(ERA)` by year and league.

In this assignment we will visualize the effect of the introduction of the  designated hitter, by comparing the best overall team-wide earned run average (ERA) for each league. In the process, you will see an important application of reshaping tables when creating visualizations.  

Take a look at the `Teams.csv` file.  This file contains, for each season, team-by-team statistics.  We will focus on the ERA, which measures the average number of runs allowed by each team’s pitchers over a 9-inning game, with a smaller number indicating better pitching + defense.
Your job is to recreate the following graph.  

<img src="https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/img/min_era.png"/>

**Tasks:**

1. Filter the data to only the years after World War II (1946+).
2. Group and aggregate the data to compute the minimum ERA for each league for each season.
3. Split the min(ERA) by the leagues so that you have the two columns of min(ERA) values—one for each league—with one row per year.
4. Compute AL – NL, storing the result in a new column.
5. Stack the data for the AL, NL, and AL – NL, with the labels column called Type and the data column called min(ERA).
6. Save the resulting data frame to a variable named `min_era_by_league`
7. Use `ggplot` to recreate the plot.  Hints: <br>
    a. Use `geom_line` to plot the three lines,<br>
    b. Use `geom_hline` and `geom_vline` to add the reference lines, and <br>
    c. `annotate` to add the annotation. <br>

Capture the entire process--data management and plotting--in one pipe/+ chain.

In [ ]:
# Your code here