# Activity 9.1 - Code conversion and `dplyr` practice

In [2]:
library('dplyr')

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

## Problem 1


Consider the following code that uses piping:

In [4]:
surveys %>%
  filter(weight < 5) %>%
  select(species_id, sex, weight)

   species_id sex weight
1  PF         F   4
2  PF         F   4
3  PF         M   4
4  RM         F   4
5  RM         M   4
6  PF             4
7  PP         M   4
8  RM         M   4
9  RM         M   4
10 RM         M   4
11 PF         M   4
12 PF         F   4
13 RM         M   4
14 RM         M   4
15 RM         F   4
16 RM         M   4
17 RM         M   4

#### A. Write an imperative version of this code.

In [5]:
# Your code here

#### B. Write a functional version of this code.

In [6]:
# Your code here

Now consider the following imperative code:

In [7]:
x <- rnorm(100)
x_rounded <- round(x, 1)
x_rounded_sorted <- sort(x_rounded)
x_rounded_sorted_smallest10 <- head(x_rounded_sorted, 10)
sum_x_rounded_sorted_smallest10 <- sum(x_rounded_sorted_smallest10)

#### C. Write a functional version of this code.

In [8]:
# Your code here

#### D. Write a version of this code that uses piping.

In [9]:
# Your code here

## Problem 2
  Create a new data frame from the surveys data that meets the following criteria: 
  
- contains only the **`species_id`** column and 
- a new column called  **`hindfoot_half`**, with:
    - values that are half the **`hindfoot_length`** values;
    - no `NA`s;
    - all values are less than 30.

Hint: think about how the commands should be ordered to produce this data frame!

In [10]:
# Your code here